@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

header {
    background-color: var(--primary-color);

}

h1 {
    text-align: center;
    padding: 2rem;
}

main {
    width: 100%;
}

main > picture > img{
    width: 100%;
}

.summary {
    padding: 1rem;
}

.summary > div {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 0.5rem;
    max-width: 250px;
    margin: 0 auto;
}

.summaryTitle {
    text-align: right;
}

.summary h3 {
    text-align: center;
}

.summary > h3.weather::after {
    content: url("/images/weather-icon.svg");
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--primary-color);
}

@media (min-width: 32.5em){
    .summary {
        border-radius: 6px;
        max-width: 250px;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8); 
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
        z-index: 1; 
    }

    .dataSummary {
        top: 150px;
        left: 150px;
    }

    .weatherSummary {
        bottom: -50px;
        right: -100px;
    }

    main {
        position: relative;
    }
    
}